<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="background-color: black !important;">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="employees" class="nav-link" routerLinkActive="active"><b>Lista Clientes</b></a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active"><b>Registrar Cliente</b></a>
    </li>
    <li class="nav-item">
      <a routerLink="addProvider" class="nav-link" routerLinkActive="active"><b>Registrar Proveedor</b></a>
  </li>
  <li class="nav-item">
    <a routerLink="addArticle" class="nav-link" routerLinkActive="active"><b>Registrar Articulo</b></a>
</li>
  </ul>
</nav>


<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer" style="background-color: black !important;">
  <div class="container">
      <span></span>
  </div>
</footer>