<h3>Registrar Factura</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="name">* Fecha</label>
      <input type="date" class="form-control" id="fecha" required [(ngModel)]="factura.facturaObj.fechaFactura" name="fechaFactura">
    </div>

    <div class="form-group">
      <label for="name">* Codigo Articulo</label>
      <input type="text" class="form-control" id="codigo" required [(ngModel)]="factura.codigoArticulo" name="codigoArticulo" pattern="[A-Za-z0-9]{1,20}">
    </div>

    <div class="form-group">
      <label for="name">* Cantidad</label>
      <input type="text" class="form-control" id="cantidad" required [(ngModel)]="factura.cantidad" name="cantidad">
    </div>

    <div class="form-group">
      <label for="name">* % ganancia</label>
      <input type="text" class="form-control" id="ganancia" required [(ngModel)]="factura.porcentaje" name="porcentaje">
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Datos registrados correctamente!</h4>  
</div>
