<h3>Registrar Proveedor</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="name">* Nombre</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="proveedor.nombre" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">* Apellido1</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="proveedor.apellido1" name="apellido1" pattern="[A-Za-z0-9]{1,20}">
    </div>

    <div class="form-group">
      <label for="name">* Apellido2</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="proveedor.apellido2" name="apellido2">
    </div>

    <div class="form-group">
      <label for="name">* Nombre_Empresa</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="proveedor.nombreEmpresa" name="nombreEmpresa">
    </div>

    <div class="form-group">
      <label for="name">* Direccion</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="proveedor.direccion" name="direccion">
    </div>

    <div class="form-group">
      <label for="name">* Ciudad</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="proveedor.ciudad" name="ciudad">
    </div>

    <div class="form-group">
      <label for="name">Cp</label>
      <input type="text" class="form-control" id="lastName" [(ngModel)]="proveedor.cp" name="cp">
    </div>

    <div class="form-group">
      <label for="name">* Provincia</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="proveedor.provincia" name="provincia">
    </div>

    <div class="form-group">
      <label for="name">* Pais</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="proveedor.pais" name="pais">
    </div>

    <button type="submit" class="btn btn-success">Registrar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Datos registrados correctamente!</h4>
  <!-- <button class="btn btn-success" (click)="newproveedor()">Add</button> -->
</div>
