<h3>Registrar Articulo</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="name">* Codigo Articulo</label>
      <input type="number" class="form-control" id="codigoArticulo" required [(ngModel)]="articulo.codigoArticulo" name="codigoArticulo">
    </div>

    <div class="form-group">
      <label for="name">* Proveedor <b style="font-size: small;">(debe registrar previamente un proveedor)</b></label>
      <select name="miselect" [(ngModel)]="articulo.idProveedor" >
      <option [value]="item.id" *ngFor="let item of lista">{{proveedores.nombreEmpresa}}</option>
    </select>
    </div>

    <div class="form-group">
      <label for="name">* Nombre Articulo</label> 
      <input type="text" class="form-control" id="nombre" required [(ngModel)]="articulo.nombreArticulo" name="nombreArticulo">
    </div>

    <div class="form-group">
      <label for="name">* Caracteristicas</label>
      <input type="text" class="form-control" id="caracteristicas" required [(ngModel)]="articulo.caracteristicas" name="caracteristicas">
    </div>   

    <button type="submit" class="btn btn-success">Registrar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Datos registrados correctamente!</h4>  
</div>
