<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Clientes</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Apellido1</th>
          <th>Apellido2</th>
          <th>Registrar Factura</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees | async">
          <td>{{employee.nombre}}</td>
          <td>{{employee.apellido1}}</td>
          <td>{{employee.apellido2}}</td>
          <td><button (click)="goToFactura(employee.id)" class="btn btn-danger">Registrar</button>          
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

